*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   font-family: "Red Hat Display", sans-serif;
}
.page{
    background: url("order-summary-component-main/images/pattern-background-desktop.svg");
    height: 100vh;
    background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.order-card{
margin-top: 30px;
background-color: white;
text-align: center;
padding-top: 2px;
}
.order-img img{
    width: 400px;
    padding-right: 4px;
}
.order-text{
    padding-top: 15px;
    text-align: center;
}
h1{
    font-size: 25px;
    padding-bottom: 11px;
}
.order-plan{
    margin-top: 50px;
    display: flex;
    padding: 40px;
    cursor: pointer;
}
.img-container img{
    width: 40px;
}
.order-plan img{
    padding-right: 10px;
}
.txt-a{
    font-weight: 800;
}
.txt-c{
    color: blueviolet;
    font-weight: 300;
    padding-left: 90px;
   
}
.order-buttons{
    text-align: center;
}
.btn1{
    background-color: blueviolet;
    border-radius: 15px;
    border: 10px;
    color: white;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
}
.btn2{
    font-weight: 600;
    color: black;
    padding-top:25px ;
    cursor: pointer;
}




